.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;

}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}
.main .nav img{
    width: 40px;
    border-radius: 50%;
}

.result::-webkit-scrollbar{
    display: none;
}
.loader hr{
    animation: loader 3s infinite linear;
}
@keyframes loader {
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}
/* main.css */

/* Dark mode styles */
.dark .bg-gray-100 {
    background-color: #2d2d2d; /* Dark background for cards */
  }
  
  .dark .text-gray-400 {
    color: #e0e0e0; /* Light text for dark mode */
  }
  
  .dark .text-gray-300 {
    color: #d1d5db; /* Light text for dark mode */
  }
  
  .dark .text-gray-200 {
    color: #e5e7eb; /* Light text for dark mode */
  }
  
  .dark .bg-red-500 {
    background-color: #c53030; /* Darker red for dark mode */
  }
  
  .dark .bg-red-800 {
    background-color: #7f1d1d; /* Darker red for dark mode */
  }
  
  .dark .text-gray-200 {
    color: #e5e7eb; /* Light text for dark mode */
  }
  
  /* Ensure to define styles for other elements based on dark mode requirements */
  

